@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/Imagens/LogoAgencia.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Acessar:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <p>Login: </p>
        </div>
        <div class="col-sm-2">
            <input type="text" value="" name="Login" />
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-2">
            <p>Senha:</p>
        </div>
        <div class="col-sm-2">
            <input type="text" value="" name="Senha" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <input type="submit" value="Logar" />
        </div>
    </div>

</div>

