    <div>
    <div class="fa fa-facebook-square" style="font-size:48px;color:blue"></div> Facebook
        <br />
    <div class="fa fa-linkedin-square" style="font-size:48px;color:blue"></div> Instagran
</div>